<div class="row">
       <div class="col-md-4">
        <div class="poto">
           <h1>Riku Kiranatama</h1>  
           <img class="img-responsive img-circle poto-propil" src="img/riku.png">
        </div>
      </div> 

      <div class="col-md-8">
        <div class="data-diri">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email Anda">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Mesages</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3" placeholder="Mesages Anda"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-default" type="submit" value="Submit">
                </div>
            </div>
        </form>    
            
        </div>
      </div>

      </div>
    </div>