<div class="row">
       <div class="col-md-4">
        <div class="poto">
           <h1>Riku Kiranatama</h1>  
           <img class="img-responsive img-circle poto-propil" src="/img/riku.png">
        </div>
      </div> 

      <div class="col-md-8">
        <div class="data-diri">
            <table class="table table-striped">
                <tr>
                    <td class="bio-huruf">Nama</td>
                    <td class="bio-huruf">:</td>
                    <td class="bio-huruf">Riku Kranatama</td>
                </tr>
                <tr>
                    <td class="bio-huruf">Tempat, Tanggal Lahir </td>
                    <td class="bio-huruf">:</td>
                    <td class="bio-huruf">Bandung, 7 Oktober 1989</td>
                </tr>
                <tr>
                    <td class="bio-huruf">Jenis Kelamin</td>
                    <td class="bio-huruf">:</td>
                    <td class="bio-huruf">Pria</td>
                </tr>
                <tr>
                    <td class="bio-huruf">Alamat Domisili</td>
                    <td class="bio-huruf">:</td>
                    <td class="bio-huruf">Jl.Soekarno Hatta no.104</td>
                </tr>
            </table>
            
        </div>
      </div>

      </div>
    </div>